<div style="float: left;">
	<select class="ui-button ui-widget ui-state-default ui-corner-all"
			style="font-size: 12px; height: 30px; width: 300px" ng-model="location.selected" ng-options="row.id as row.watershed_name for row in locations" ng-change="filterByLocation(location.selected)">
	</select>
</div>

<div style="float: right; margin-bottom: 10px">
	<button id="fields-config" type="button" style="font-size: 12px"
		class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
		<span class="ui-button-text">More fields...</span>
	</button>
	<button id="new-data-entry" type="button" style="font-size: 12px"
		class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
		<span class="ui-button-text">Add new entry</span>
	</button>
	<button id="export_as_csv" type="button" style="font-size: 12px"
		class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
		<span class="ui-button-text">Export as CSV</span>
	</button>
	<button id="mobile-site" type="button" style="font-size: 12px"
		class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">
		<span class="ui-button-text">Mobile Site</span>
	</button>
</div>

<ol id="fields-selector" style="float: right; cursor: pointer">
	<li ng-repeat="field in fields|orderBy:aa:reverse" ng-click="toggleFieldStatus(field)">{{field[2]}}
		<input type="checkbox" id="ckb-{{field[0]}}" value="{{field[0]}}" ng-checked="field[4]" ng-model="field[4]" ng-click="$event.stopPropagation()" /></li>
</ol>

<div style="clear: both"></div>

<map basemap="http://{s}.tiles.mapbox.com/v3/tesera.map-yelacea2/{z}/{x}/{y}.png"></map>

<list></list>